<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet", href="../libs/owl.carousel/assets/owl.carousel.min.css")
	link(rel="stylesheet", href="../libs/owl.carousel/assets/owl.theme.default.min.css")
	link(rel="stylesheet", href="../css/main.css")
	title owl
body
	#hero
		.slider-holder
			.bg-drop
			.owl-carousel
				div(style="background-image: url('https://i.ytimg.com/vi/x30YOmfeVTE/maxresdefault.jpg')")
				div(style="background-image: url('https://pp.userapi.com/c627528/v627528202/29076/j45g8HeUa3M.jpg')")
				div(style="background-image: url('https://pp.userapi.com/c624222/v624222202/40445/xnlba8Ql3aU.jpg')")
				div(style="background-image: url('http://ichef.bbci.co.uk/wwfeatures/wm/live/1280_640/images/live/p0/4v/pf/p04vpfh1.jpg')")
				div(style="background-image: url('http://www.pbs.org/wnet/nature/files/2017/03/1007.jpg')")
				div(style="background-image: url('https://static.pexels.com/photos/20974/pexels-photo.jpg')")
			.controls
				.arrow#left
					img(src="../img/arrow-left.png", alt="")
				.arrow#right
					img(src="../img/arrow-right.png", alt="")
	script(src = "https://code.jquery.com/jquery-3.2.1.min.js")
	script(src="js/main.js")
	script(src = "../libs/owl.carousel/owl.carousel.min.js")